/*   Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

/* Navigation */
nav {
    background: #1c1c1c;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #ffca28;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Hero Section */
.hero {
    background: url("../images/hero.jpg") center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: #ffca28;
}

.hero p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

/* Section */
section {
    padding: 40px 10%;
}

h2 {
    color: #ffca28;
    margin-bottom: 20px;
}

/* Destination Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

/* Lightbox */
#lightbox {
    position: fixed;
    display: none;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: 60%;
    border-radius: 10px;
}

/* Form */
form {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #121212;
    border: 1px solid #444;
    color: white;
}

button {
    margin-top: 10px;
    padding: 12px 20px;
    background: #ffca28;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: white;
}
